*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    position: relative;
    overflow: hidden;
    background-color: #1238CC;
}
#page1{
    height: 100vh;
    width: 100vw;
    background-color: red;
    position: relative;
}
#page1>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page1>nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 85px;
    position:absolute;
    height: 10vh;
    width: 100vw;
}

#page1>nav>img{
    
    width: 3%;
}
#right-nav>button{
    padding: 10px 20px;
    border-radius: 50px;
    border: 0.1px solid #fff;
    background-color: #0c4cf4;
    color: #fff;
}
.bottom-page1{
    position: absolute;
    bottom: 16%;
    left: 10%;
    height: 40vh;
    width: 45vw;
}
.bottom-page1>h1{
    font-size: 80px;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    line-height: 1;
    color: #fff;
}
.bottom-page1-inner{
    position: absolute;
    font-family: 'Onest', sans-serif;
    height: 30%;
    width: 100%;
    bottom: 0%;
    color: #fff;
}
.bottom-page1-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
}
.bottom-page1-inner>button{
     padding: 15px 40px;
     border-radius: 50px;
     border: none;
     background-color: #fff;
     color: #0c4cf4;
}
.bottom-page1-inner>h4{
    font-size: 1.3vw;
    font-weight: 100;
}
#page2{
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: start;
    background-color: #1238CC;
    font-family: 'Onest', sans-serif;
    justify-content: center;
    flex-direction: column;
    padding: 0vw 16vw;
    color: #ffffff68;
}
#page2>h2{
    margin-bottom: 2vw;
    font-weight: 100;

}
#page2>h1{
    width: 80%;
    font-size: 3vw;
    line-height: 1.4;
}
#page3{
    position: relative;
    height: 100vh;
    width: 100vw;
    
}
#page3>canvas{
    max-height: 1000vh;
    max-width: 100vw;
    position: relative;
}
#page4{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color:#1238CC ;
    justify-content: center;
    font-family: 'Onest', sans-serif;
    align-items: start;
    display: flex;
    flex-direction: column;
}
#page4>h3{
    margin-left: 8vw;
    margin-bottom: 3vw;
    font-weight: 100;
    color: #fff;
}
#page4>h1{
    margin-left: 8vw;
    width: 75%;
    font-weight: 100;
    color: #ffffff5c;
    font-size: 54px;
}
#page5{
    position: relative;
    height: 100vh;
    width: 100vw;
}
#page5>canvas{
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
}
#page6{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color:#0D34C4 ;
    font-family: 'Onest', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: start;
}
#page6>h3{
    margin-left: 8vw;
    margin-bottom: 3vw;
    color: #fff;
}
#page6>h1{
    margin-left: 8vw;
    width: 70%;
    font-size: 60px;
    color: #ffffff57;
}
#page7{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #0D34C4;
}
#page7>canvas{
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
}
.page7-cir{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9;
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    border: 1px solid #fff;
}
.page7-cir-inner{
    height: 70%;
    width: 70%;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #fff;
}

#page8{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #0D34C4;
    font-family: 'Onest', sans-serif;

}
#page8>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.page8-bottom{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-bottom: 5vw;
}
.page8-bottom>h1{
    margin-bottom: 3vw;
    font-size: 70px;
    color: #fff;
}
.page8-bottom>button{
    padding: 15px;
    color: #0D34C4;
    font-size: 16px;
    border-radius: 50px;
    border: 1px solid #fff;
}
#page9{
    position: relative;
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #0D34C4;
}
.left9{
    height: 100%;
    width: 40%;
    color: #fff;
    background-color: #0D34C4;
    position: relative;
    font-family: 'Quicksand', sans-serif;
  
}
.left9>h1{
    position: absolute;
    top: 30%;
    right: 33%;
    transform: translateY(-50%);
    font-size: 5vw;
}
.right9{
    background-color: #0D34C4;
    height: 100%;
    width: 60%;
}
.right9-center{
    position: absolute;
    height: 54vh;
    width: 45vw;
    background-color: black;
    border-radius: 20px;
    top: 40%;
    left: 45%;
    transform: translateY(-50%);
    background-image: url(https://thisismagma.com/wp-content/uploads/2023/04/magma.wp2.cubdev.com-home-1.jpeg);
    background-size: cover;
}
#page10{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #0D34C4;
}
.right10{
    height: 100%;
    width: 60%;
    background-color: brown;
    position: relative;
    left: 40%;
}
.right10-inner{
    display: flex;
    align-items: start;
    flex-direction: column;
    height: 33.3%;
    width: 100%;
    background-color:#0D34C4;
    font-family: 'Quicksand', sans-serif;
    color: #fff;
}
.right10-inner>h1{
    font-size: 2vw;
}
.right10-inner>p{
    margin-top: 2vw;
    font-size: 1.3vw;
    width: 80%;
}
#page11{
    position: relative;
    width: 100vw;
    height: 170vh;
    background: white;
    font-family: 'Onest', sans-serif;

}
#page11>h1{
    top: 7%;
    left: 4%;
    position: absolute;
    font-size: 4vw;
    color: black;
}
.page11-inner{
    display: flex;
    top: 18%;
    position: relative;
    margin-bottom: 2vw;
    height: 25%;
    width: 100%;
    background-color:white;
}
.left11{
    position: relative;
    height: 100%;
    width: 40%;
    background-color: white;
    left: 2%;
    border-radius: 15px;
    overflow: hidden;

}
.left11>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.right11{
    position: relative;
    height: 100%;
    width: 40%;
    left: 10%;
    background-color: white;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}
.right11>h4{
    font-size: 20px;
    margin-bottom: 1vw;
    font-weight: 100;
    color: rgb(41, 38, 38);
}
.right11>h1{
    font-size: 25px;
}


#page12{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #0D34C4;
}
.page12-inner{
    position: absolute;
    top: 40%;
    right: 12%;
    color: #fff;
    font-family: 'Onest', sans-serif;
}
.page12-inner>h1{
    font-size: 5vw;
    font-weight: 100;
}
.page12-inner>p{
    font-size: 1.3vw;
}
#page13{
    position: relative;
    height: 50vh;
    width: 100vw;
    background-color: rgb(8, 8, 21);
    color: #fff;
    font-family: 'Onest', sans-serif;
    padding: 7vw 10vw;
}
#page13>h1{
    font-size: 5vw;
    line-height: 1;
    font-weight: 100;
}
#page13>button{
    padding: 10px 30px;
    border: none;
    background-color: #0D34C4;
    color: #fff;
    border-radius: 50px;
    margin-top: 2vw;
}
#page14{
    position: relative;
    height: 50vh;
    width: 100vw;
    background-color: rgb(8, 8, 21);
}
.page14-inner{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 5vw;
    font-family: 'Onest', sans-serif;
    height: 33.3%;
    width: 100%;
    background-color: rgb(8, 8, 21);
    color: #fff;
    border-top: .5px solid #ffffff4d;
    border-bottom: .5px solid #ffffff44;
}
.page14-inner>i{
    font-weight: 100;
    font-size: 2.4vw;
    position: relative;
    z-index: 9999;
}
.page14-inner>h1{
    font-size: 3vw;
    font-weight: 100;
    position: relative;
    z-index: 9999;
}
.center14{
    height: 0%;
    width: 100%;
    background-color:#0D34C4;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: all ease .5s;
}

.page14-inner:hover .center14{
    height: 100%;
}